/* General rules*/
* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}



/* Header rules */

.header {
    background-image: url("../img/jumbo.png");
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    min-height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
}

#background-image {
    height: 300px;
}

.row {
    min-height: 50px;
    display: flex;
    justify-content: center;

    /* debug */
        background-color: aqua;

}

.nav-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    padding: 20px 20px;
}

.nav-logo {
    margin-right: 20px;
}

.nav-links {
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: space-between;
    margin-right: 20px;
}


header h1 {
    font-size: 50px;
    color: white;
    padding: 40px 0;
}

header p {
    color: white;
    margin: 10px 300px;
}

/*Buttons*/
button {
    display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 30px;
  background-color: #36393f;
  color: #ffffff;
  border: none;
  cursor: pointer;
  font-size: 10px;
  border-radius: 30px;
}

.nav-button {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;

}

.download-button {
    background-color: white;
    color: #36393f;
    margin-right: 20px;
}

.login-button {
    width: 50px;
}


/* First main block */

.main-block {
    display: flex;
    justify-content: center;
    min-height: 200px;
    /* debug */
    background-color: blue;
}

/* Repeated block */

.container {
    display: flex;
    justify-content:center;
    min-height: 300px;
}

.block {
    display: flex;
    justify-content: center;
    width: 300px;
    min-height: 300px;

    /*debug*/
    margin: 20px 0;
}

.blue {
    flex-basis: 50%;
}

.red {
    display: flex;
    flex-direction: column;
}

.section-title {
    font-size: 40px;
    margin: 20px 0;
}

.second {
    /*debug*/
    background-color: lightblue;
}

.green {
    width: 80%;
    min-height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.download-section{
    display: flex;
    flex-direction: column;
}


.coral {
    /*debug*/
    background-color: coral;
    margin-left: 15%;
    flex-basis: 50%;
}

.aqua {
    /*debug*/
    background-color: aquamarine;
}

.inverted {
    order: -1;
}

.last {
    margin-right: 15%;
}

/*footer rules*/
.footer {
    display: flex;
    justify-content: space-between;
    margin: 0 10%;
    
}

#logo-footer {
    margin-left: 10px;
}

#button-footer {
    margin-right: 10px;
}


